# Intellij
.idea
*.iml
out

# Sphinx build
_build

# generated keys
setup/corda/*.srl
setup/corda/*.crt
setup/corda/*.csr
setup/corda/*.key
setup/corda/*.jks

# gradle
build
.gradle

# Project specific
keys
.srl
standalone-node/additional-node-infos/
standalone-node/artemis/
standalone-node/brokers/
standalone-node/certificates/
standalone-node/corda.jar
standalone-node/logs/
standalone-node/network-parameters
standalone-node/nodeInfo*
standalone-node/persistence.mv.db
standalone-node/persistence.trace.db
