<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>
    <include resource="org/springframework/boot/logging/logback/defaults.xml" />

    <logger name="org.apache" level="WARN" additivity="false"/>
    <logger name="org.springframework" level="WARN" additivity="false"/>
    <logger name="net.corda" level="WARN" additivity="false"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                %d{dd-MM-yyyy HH:mm:ss.SSS} %magenta([%thread]) %highlight(%-5level) %logger{36}.%M - %msg%n
            </pattern>
        </encoder>
    </appender>

    <!-- default for development -->
    <springProfile name="default">
        <root level="DEBUG" />
    </springProfile>

    <!-- active when running tests -->
    <springProfile name="test">
        <root level="DEBUG" />
    </springProfile>

    <shutdownHook class="ch.qos.logback.core.hook.DelayingShutdownHook"/>
</configuration>




